@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

.secondaryFontCustom {
   font-family: 'Kanit';
}

.mainFont {
    font-family: 'Rock Salt'
 } 
  
 .secondaryFont {
    font-family: 'Kanit';
    font-size: 1.6rem;
    font-weight: 600;
 }

 .secondaryFontnav {
   font-family: 'Kanit';
   font-size: 1.7rem;
   font-weight: 600;
}

 .secondaryFontlite {
    font-family: 'Kanit';
    font-size: 1.6rem;
    font-weight: 300;
 }

 .secondaryFontsocial {
    font-family: 'Kanit';
    font-size: 2.5rem;
    font-weight: 300;
 }

 .secondaryFontabout {
   font-family: 'Kanit';
    font-size: 2rem;
    font-weight: 100;
 }

